.root {
  font-family: sans-serif;
  padding: 0px 10px;
  text-align: center;
}

.video {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 700px;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  padding: 10px;
  width: 200px;
  outline: none;
}

button:active {
  box-shadow: none;
}
